NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:8080
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_KEYCLOAK_REALM=crash-game
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=crash-game-client
NEXT_PUBLIC_GAMES_URL=http://localhost:8000/games
NEXT_PUBLIC_WALLETS_URL=http://localhost:8000/wallets
NEXT_PUBLIC_WS_BASE_URL=http://localhost:8000