PORT=4001
DATABASE_URL=postgresql://admin:admin@postgres:5432/games
RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672
KEYCLOAK_URL=http://localhost:8080
REDIS_URL=redis://localhost:6380
REDIS_PASSWORD=admin
REDIS_PORT=6380
REDIS_HOST=localhost
KEYCLOAK_REALM=crash-game