PORT=4001
DATABASE_URL=postgresql://admin:admin@postgres:5432/games?schema=public
RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672
KEYCLOAK_URL=http://keycloak:8080
REDIS_URL=redis://redis:6379
REDIS_PASSWORD=admin
REDIS_PORT=6379
REDIS_HOST=redis
KEYCLOAK_REALM=crash-game